body{
    background-image: url(img/macd.jpg);
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;

}
h1 {
    background-color: rgb(219, 184, 27);
    
}
h3 {
    color: rgb(226, 240, 235);
    text-align: center;
}

.align{
    text-align: center;
}

  
    

    